<h2>#<%= @tag['name'] %></h2>

<h3>Tweets</h3>
	<ul>
		<% @tag['tweets'].each do |tweet| %>
			<li><a href="/tweet/<%= tweet['tweet_id'] %>">@Id <%= tweet['tweet_id'] %></a>: <%= tweet['short'] %></li>
		<% end %>
	</ul>

<h3>Tweeted By</h3>
	<ul>
		<% @tag['tweeted_by'].collect{ |u| u['twid'] }.each do |twid| %>
			<li><a href="/user/<%= twid %>">@<%= twid %></a></li>
		<% end %>
	</ul>


